<div class="{{ if not .Site.Params.homepage.showRecent }}
    h-full
  {{ end }} flex flex-col">
  <div class="flex flex-col sm:flex-row self-center my-12">
    {{ with .Site.Author.image }}
    {{ $authorImage := resources.Get . }}
    {{ if $authorImage }}
    {{ $authorImage := $authorImage.Fill "288x288" }}
    <img class="flex rounded-full self-center mb-2 h-38 w-38" width="160" height="160"
      src="{{ $authorImage.RelPermalink }}" />
    {{ end }}
    {{ end }}
    <div class="flex flex-col px-4 self-center">
      <h1 class="text-l md:text-xl lg:text-3xl font-bold">
        {{ .Site.Author.name | default .Site.Title }}
      </h1>
      {{ with .Site.Author.headline }}
      <h2 class="text-xl text-neutral-400 dark:text-neutral-100 mb-2">
        {{ . | markdownify | emojify }}
      </h2>
      {{ end }}
      <div class="text-3xl self-center sm:self-start">
        {{ partialCached "author-links.html" . }}
      </div>
    </div>
  </div>
  <section class="prose dark:prose-invert">{{ .Content | emojify }}</section>
</div>
<section>
  {{ partial "recent-articles.html" . }}
</section>