<div class="{{ if not .Site.Params.homepage.showRecent }}
    h-full
  {{ end }} flex flex-col">
  <div class="flex flex-col items-center my-6 lg:my-2 sm:flex-row">
    {{ with .Site.Author.image }}
    {{ $authorImage := resources.Get . }}
    {{ if $authorImage }}
    {{ $authorImage := $authorImage.Fill "288x288" }}
    <img class="flex self-center mb-2 rounded-full h-38 w-38" width="160" height="160"
      src="{{ $authorImage.RelPermalink }}" />
    {{ end }}
    {{ end }}
    <div class="flex flex-col px-4">
      <h1 class="text-xl font-bold md:text-3xl lg:text-4xl">
        {{ .Site.Author.name | default .Site.Title }}
      </h1>
      {{ with .Site.Author.headline }}
      <h2 class="self-center text-md sm:self-start md:text-xl text-neutral-400 dark:text-neutral-100">
        {{ . | markdownify | emojify }}
      </h2>
      {{ end }}
      <div class="self-center text-3xl sm:self-start">
        {{ partialCached "author-links.html" . }}
      </div>
    </div>
  </div>
  <section class="prose dark:prose-invert">{{ .Content | emojify }}</section>
  <hr>
  <section>
    {{ partial "recent-articles.html" . }}
  </section>
</div>